/* 🔷 Container principal do mapa */
.mapa-container {
  width: 100%;
  height: 100vh;
  position: relative;
  top: -35px;
  left: -30px;
  right: 0;
  bottom: 0;

  background-color: #000c3b;
  overflow: hidden;
}

/* 🔷 Estilo para o mapa Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(240, 3, 3, 0.1);
  background-color: #000c3b;
  z-index: 0; /* Garante que o mapa fique atrás do popup */
}

/* 🔷 Estilo para estados ao passar o mouse */
.leaflet-interactive:hover {
  cursor: pointer;
  transition: fill 0.2s ease, stroke 0.2s ease;
}

/* 🔷 Tooltip personalizada */
.custom-tooltip {
  position: absolute;
  background-color: #000c3b;
  color: #b4b4b4;
  padding: 6px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  pointer-events: none;
  z-index: 1000;
}

/* 🔷 Responsividade */
@media (max-width: 768px) {
  .mapa-container {
    height: 80vh;
  }

  .custom-tooltip {
    font-size: 12px;
    padding: 4px 8px;
  }
}

/* ✅ Popup sempre na frente do mapa */
.leaflet-popup {
  z-index: 10000 !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  z-index: 10000 !important;
}

/* 🔧 Remove o logo/crédito padrão do Leaflet */
.leaflet-control-attribution {
  display: none !important;
}
